body > div > div > div:nth-child(2) > form > div.chosen-container.chosen-container-multi > ul > li > input{
  color: darkgray !important;
}

 a.links:hover {

  text-decoration: none;
  border-bottom: 1px solid #3498db;
}

hr{
    border: #03A9F4 solid 1px;
}


.btn-grey{
color: #ffffff;

}
.btn-grey:hover{

  color: #ffffff;
}

.username{

  font-family: Montserrat;
  font-weight: bold;
}

.dropdown-menu > li > a:hover{
  color: #ffffff !important;
  background-color: #1a242f !important;

}
.navbar-default .navbar-nav > .open > a{

  color: #ffffff !important;
}
.style-one{
  border: 0;
  height: 1px;
  background: #03A9F4;
  background-image: linear-gradient(to right, #BDEAFE, #03A9F4, #BDEAFE);

}

.text-justification{

  text-align:justify;
}

.form-control:focus{
  border-color: #B0B0B0;

}

.panel-default {
    border-color: #dce4ec;
}

.chosen-choices{

  padding-left: 15px !important;
}

.navbar-default .navbar-toggle{
  border: none;
}


.addMargin{

  margin-bottom: 15px;
}

.panel-title > a{
  padding-top: 50px;
  padding-bottom: 50px;
}

.panel-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 17px;
    color: inherit;
}

.article-image{

  width: 50%;
  height: 50%;
}

.nav-padding{

  padding-right: 30px;
  padding-left: 30px;
}

.btn-facebook:hover, .btn-google:hover{

  opacity: 0.8;
}


#incorrect{

    color: #e74c3c;

}

#topics{

  text-decoration: underline;
}

#search {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    font-family: Montserrat;
    -webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;

    -webkit-transform: translate(0px, -100%) scale(0, 0);
	-moz-transform: translate(0px, -100%) scale(0, 0);
	-o-transform: translate(0px, -100%) scale(0, 0);
	-ms-transform: translate(0px, -100%) scale(0, 0);
	transform: translate(0px, -100%) scale(0, 0);

    opacity: 0;

    z-index: 9999;
}

#search.open {
    -webkit-transform: translate(0px, 0px) scale(1, 1);
    -moz-transform: translate(0px, 0px) scale(1, 1);
	-o-transform: translate(0px, 0px) scale(1, 1);
	-ms-transform: translate(0px, 0px) scale(1, 1);
	transform: translate(0px, 0px) scale(1, 1);
    opacity: 1;
}

#search input[type="search"] {
    position: absolute;
    top: 50%;
    width: 100%;
    color: rgb(255, 255, 255);
    background: rgba(0, 0, 0, 0);
    font-size: 40px;
    font-weight: 300;
    text-align: center;
    border: 0px;
    margin: 0px auto;
    margin-top: -51px;
    padding-left: 30px;
    padding-right: 30px;
    outline: none;

}
#search .btn {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: 61px;
    margin-left: -45px;
}
#search .close {
    position: fixed;
    top: 15px;
    right: 15px;
    color: #fff;
	opacity: 1;
	margin: 10px 17px;
	font-size: 27px;
  z-index: 2000;
}

#search .close:hover{
    position: fixed;
    top: 15px;
    right: 15px;
    color: #fff;
	opacity: 0.5;
	margin: 10px 17px;
	font-size: 27px;
  z-index: 2000;
}
