<template name="article">
  <div class="panel panel-default">
      <h4 class="panel-title text-center mt-2x">
        {{Article_Title}}
        <br>
        <img src="{{Picture}}" alt="Cinque Terre" class="img-reponsive article-image mt-2x">
      </h4>
    <div id="collapse{{_id}}" class="panel-collapse">
      <div class="text-center">
        <strong> {{Source}} </strong>
        <br />
      </div>
      <div class="panel-body text-justification">{{Article_Body}}
      <br />
      <br />
      <div class="pull-left">
      <a href="{{External_Link}}" class="links"><i class="fa fa-external-link text-info"></i><span class="text-info"> Click here for the full story</span></a>
      </div>
      <div class="pull-right">
          <a href="https://www.facebook.com/login" class="btn btn-facebook">
            <i class="fa fa-facebook"></i>
          </a>
          <a href="https://accounts.google.com/" class="btn btn-google ">
            <i class="fa fa-google-plus"></i>
          </a>
        </div>
      </div>
      </div>
    </div>
</template>


<template name="new">
  {{> nav_loggedIn}}

  <div class="container mt-2x mb-2x animated fadeIn">
    <div class="row mt-2x mb-2x">
      <div class="col-md-12 mt-4x">
        <h2>New Articles</h2>
        <br />
        <div class="panel-group" id="accordion">
          {{#each getNew}}
            <h3 class="text-center">{{Topic}}</h3>
            <hr class="style-one" />
            <br />
            {{> article}}
            {{else}}
              <h3 class="text-center">There are no articles to display</h3>
    			{{/each}}
        </div>
      </div>
    </div>
  </div>
  {{> search}}
  {{> footer}}
</template>

<template name="trending">
  {{> nav_loggedIn}}

  <div class="container mt-2x mb-2x animated fadeIn">
    <div class="row mt-2x mb-2x">
      <div class="col-md-12 mt-4x">
        <h2>Trending Articles</h2>
        <br />
        <div class="panel-group" id="accordion">
          <h3 class="text-center">Top Trending</h3>
          <hr class="style-one"/>
          <br />
          {{#each getTrending}}
            {{> article}}
    			{{/each}}
        </div>
      </div>
    </div>
    <div class="text-center">
      <button type="submit" class="btn btn-info">Load more ...</button>
    </div>
  </div>
  {{> search}}
  {{> footer}}
</template>

<template name="manage">
  {{> nav_loggedIn}}
  <div class="container mt-2x mb-2x animated fadeIn">
    <div class="row mt-2x mb-2x">
      <div class="col-md-12 mt-4x">
        <h2>Account Management</h2>
        <br />
      </div>
      <div class="col-md-12">
        <br>
        <form role="form" id="managementForm" method="post">
          <div class="form-group">
            <input type="text" name="username" class="form-control" placeholder="Username" data-error="* Username is required" value="{{currentUser.username}}" required>
            <div class="help-block with-errors"></div>
          </div>
          <div class="form-group">
            <input type="email" name="email" class="form-control" placeholder="Email" data-error="* Email address is required" value="{{currentUser.emails.[0].address}}" required>
            <div class="help-block with-errors"></div>
          </div>
          <div class="form-group">
            <input type="password" name="newPW" class="form-control" id="inputPassword" placeholder="New Password">
            <div class="help-block with-errors"></div>
          </div>
          <div class="form-group">
            <input type="password" name="retypeNewPw" class="form-control" id="inputPasswordConfirm" placeholder="Retype New Password" data-match="#inputPassword" data-match-error=" * Passwords don't match"  >
            <div class="help-block with-errors"></div>
          </div>
          <div class="form-group">
            <input type="password" name="currentPW" class="form-control" id="currentPasswordConfirm" placeholder="Current Password" required data-error="* Current password is required to update account settings">
            <div class="help-block with-errors"></div>
          </div>

            <h3 id="topics" class="text-center">Topics</h3>
            <br>

          <select data-placeholder="Select Topics" class="chosen-select form-control" multiple name="topics" id="topics">
            {{#if androidSelected}}
              <option value="Android" selected>Android</option>
            {{else}}
              <option value="Android">Android</option>
            {{/if}}

            {{#if appleSelected}}
              <option value="Apple" selected>Apple</option>
            {{else}}
              <option value="Apple">Apple</option>
            {{/if}}

            {{#if gadgetsSelected}}
              <option value="Gadgets" selected>Gadgets</option>
            {{else}}
              <option value="Gadgets">Gadgets</option>
            {{/if}}

            {{#if innovationSelected}}
              <option value="Innovation" selected>Innovation</option>
            {{else}}
              <option value="Innovation">Innovation</option>
            {{/if}}

            {{#if linuxSelected}}
              <option value="Linux" selected>Linux</option>
            {{else}}
              <option value="Linux">Linux</option>
            {{/if}}

            {{#if programmingSelected}}
              <option value="Programming" selected>Programming</option>
            {{else}}
              <option value="Programming">Programming</option>
            {{/if}}

            {{#if windowsSelected}}
              <option value="Windows" selected>Windows</option>
            {{else}}
              <option value="Windows">Windows</option>
            {{/if}}


          </select>
          <br>
          <br>
          <br>
          <button type="button" href="{{pathFor route='new'}}" class="btn btn-default pull-left back">Back</button>
          <div class="form-group">
            <button type="submit" class="btn btn-info pull-right">Update</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  {{> footer}}
  <script>
    $('#managementForm').validator()
  </script>
  <script type="text/javascript">
    var config = {
      '.chosen-select'           : {},
      '.chosen-select-deselect'  : {allow_single_deselect:true},
      '.chosen-select-no-single' : {disable_search_threshold:10},
      '.chosen-select-no-results': {no_results_text:'Oops, nothing found!'},
      '.chosen-select-width'     : {width:"95%"}
    }
    for (var selector in config) {
        $(selector).chosen(config[selector]);
    }
  </script>
  <script>
  $('.chosen-select').on('chosen:showing_dropdown', function() {
      $(this).next('.chosen-container').children('.chosen-drop').fadeIn(200);
  }).on('chosen:hiding_dropdown', function () {
      $(this).next('.chosen-container').children('.chosen-drop').fadeOut(200);
  });

  </script>

</template>

<body>
  <div id="pwdModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 class="text-center">Forgot Your Password?</h3>
        </div>
        <div class="modal-body">
            <div class="col-md-12">
                  <div class="panel panel-default">
                      <div class="panel-body">
                          <div class="text-center">

                            <p>Enter your email address to reset your password.</p>
                              <div class="panel-body">
                                  <fieldset>
                                      <div class="form-group">
                                          <input class="form-control input-md" placeholder="E-mail" name="email" type="email">
                                      </div>
                                      <input class="btn btn-md btn-info" value="Reset Password" type="submit">
                                  </fieldset>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
        </div>
        <div class="modal-footer">
            <div class="col-md-12">
            <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">Cancel</button>
        </div>
        </div>
    </div>
    </div>
  </div>

</body>

<template name="login">
  {{> nav_loggedIn}}
  <div class="container mt-2x mb-2x animated fadeIn">
    <div class="row mt-2x mb-2x">
      <div class="col-md-12 mt-4x">
        <h4>Login to view your personalized news articles</h4>

      </div>
      <div class="col-md-6 border-right">
        <form role="form" id="loginForm">
          <div id="incorrectDiv">
            <span class="hidden" id="incorrect">Incorrect username and/or password. Please try again.</span>
          </div>
          <div class="form-group">
            <input type="text" id="uname" name="username" class="form-control" placeholder="Username" required data-error="* Username is required" >
            <div class="help-block with-errors"></div>
          </div>
          <div class="form-group">
            <input type="password" name="password" password="password" class="form-control" placeholder="Password" required data-error="* Password is required" >
            <div class="help-block with-errors"></div>
          </div>
          <br>
          <a href="#" data-target="#pwdModal" data-toggle="modal" class="links"><span class="text-info">Forgot your password?</span></a>
          <br>
          <div class="form-group">
            <button type="submit" class="btn btn-info pull-right">Login</button>
          </div>
        </form>
        <br>
        <br>
        <hr class="hidden-md hidden-lg style-two">
        <br>
      </div>
      <div class="col-md-6">
        <div>
          <a href="https://www.facebook.com/login" class="btn btn-facebook addMargin btn-facebook-home btn-block">
            <i class="fa fa-facebook"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Login with Facebook
          </a>

          <a href="https://accounts.google.com/" class="btn btn-google btn-block">
            <i class="fa fa-google-plus"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Login with Google+
          </a>
        </div>
      </div>
      <div class="col-md-12 text-center mt-2x">
        <span>Need an account? </span><a href="{{pathFor route='registration'}}" class="signup links"><span class="text-info" > Register here</span></a>
      </div>
    </div>
  </div>
  {{> search}}
  {{> footer}}
  <script>
    $('#loginForm').validator()
  </script>
</template>

<template name="registration">
  {{> nav_loggedIn}}
  <div class="container mt-2x mb-2x animated fadeIn">
    <div class="row mt-2x mb-2x">
      <div class="col-md-12 mt-4x">
        <h2>Registration</h2>
      </div>
      <div class="col-md-12">
        <br>
        <form role="form" id="registrationForm" method="post">
          <div class="form-group">
            <input type="text" name="username" class="form-control" placeholder="Username" data-error="* Username is required" required>
            <div class="help-block with-errors"></div>
          </div>
          <div class="form-group">
            <input type="password" name="password" class="form-control" id="inputPassword" placeholder="Password" data-error="* Password is required" required>
            <div class="help-block with-errors"></div>
          </div>
          <div class="form-group">
            <input type="password" name="retypePw" class="form-control" id="inputPasswordConfirm" placeholder="Retype Password" data-error="* Password is required" data-match="#inputPassword" data-match-error=" * Passwords don't match" required >
            <div class="help-block with-errors"></div>
          </div>
          <div class="form-group">
          <input type="email" name="email" class="form-control" placeholder="Email" data-error="* Email address is required" required>
            <div class="help-block with-errors"></div>
          </div>

            <h3 id="topics" class="text-center">Topics</h3>
            <br>
          <select data-placeholder="Select Topics" class="chosen-select form-control" multiple name="topics" id="topics">
            <option value="Android">Android</option>
            <option value="Apple">Apple</option>
            <option value="Gadgets">Gadgets</option>
            <option value="Innovation">Innovation</option>
            <option value="Linux">Linux</option>
            <option value="Programming">Programming</option>
            <option value="Windows">Windows</option>
          </select>
          <br>
          <br>
          <br>

          <button href="{{pathFor route='login'}}" class="btn btn-default pull-left back">Back</button>
          <div class="form-group">
            <button type="submit" class="btn btn-info pull-right">Register</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  {{> footer}}
  <script>
    $('#registrationForm').validator()
  </script>
  <script type="text/javascript">
    var config = {
      '.chosen-select'           : {},
      '.chosen-select-deselect'  : {allow_single_deselect:true},
      '.chosen-select-no-single' : {disable_search_threshold:10},
      '.chosen-select-no-results': {no_results_text:'Oops, nothing found!'},
      '.chosen-select-width'     : {width:"95%"}
    }
    for (var selector in config) {
        $(selector).chosen(config[selector]);
    }
  </script>
  <script>
  $('.chosen-select').on('chosen:showing_dropdown', function() {
      $(this).next('.chosen-container').children('.chosen-drop').fadeIn(200);
  }).on('chosen:hiding_dropdown', function () {
      $(this).next('.chosen-container').children('.chosen-drop').fadeOut(200);
  });

  </script>

</template>
