<head>
  <title>Tech Titans</title>
  <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
</head>

<template name="nav_loggedIn">
  <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header page-scroll">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="{{pathFor route='trending'}}"><img class="navbar-brand menuItem" src="logo.png"/></a>
          <a class="navbar-brand menuItem" href="{{pathFor route='trending'}}">Tech Titans</a>
         </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            {{> navItems_loggedIn}}
          </ul>
        </div>
      </div>
    </nav>
</template>


<template name="navItems_loggedIn">
  {{#if currentUser}}
  <li class="{{ activeIfTemplateIs 'new' }} menuItem">
    <a href="{{pathFor route='new'}}"> <i class="fa fa-clock-o"></i> New</a>
  </li>
  {{/if}}
  <li class="{{ activeIfTemplateIs 'trending' }} menuItem">
    <a href="{{pathFor route='trending'}}"> <i class="fa fa-line-chart"></i> Trending</a>
  </li>
  <li>
      <a href="#search"><i class="fa fa-fw fa-search"></i> Search</a>
  </li>
  {{#if currentUser}}
  <li>
    <a href="#" class="fa fa-user" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"> <span class="username">{{currentUser.username}} </span><span class="caret"></span></a>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
      <li class="{{ activeIfTemplateIs 'manage' }} dropdownItem">
        <a href="{{pathFor route='manage'}}"><i class="fa fa-fw fa-cog"></i> Account</a>
      </li>
      <li>
        <a href="#" class="logout dropdownItem"><i class="fa fa-fw fa-sign-out"></i> Logout</a>
      </li>
    </ul>
  </li>
  {{else}}
  <li>
    <a href="#" class="fa fa-user" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"> <span class="username"></span><span class="caret"></span></a>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
      <li class="{{ activeIfTemplateIs 'login' }} menuItem">
        <a href="{{pathFor route='login'}}" class="logout dropdownItem"><i class="fa fa-fw fa-sign-in"></i> Login</a>
      </li>
      <li class="{{ activeIfTemplateIs 'registration' }} menuItem">
        <a href="{{pathFor route='registration'}}" class="logout dropdownItem signup"><i class="fa fa-fw fa-user-plus"></i> Registration</a>
      </li>
    </ul>
  </li>

  {{/if}}
  <script>
  $(".menuItem").on("click", function() {
      $("body").scrollTop(0);
  });
  </script>
</template>

<template name="search">
  <div id="search">
    <button type="button" class="close">×</button>

        <input type="search" value="" placeholder="Enter Keyword(s)" />
        <button class="btn btn-info"><i class="fa fa-fw fa-search"></i> Search</button>

  </div>
  <script>
  $(function () {
      $('a[href="#search"]').on('click', function(event) {
          event.preventDefault();
          $('#search').addClass('open');
          $('#search > input[type="search"]').focus();
      });

      $('#search, #search button.close').on('click keyup', function(event) {
          if (event.target == this || event.target.className == 'close' || event.keyCode == 27) {
              $(this).removeClass('open');
          }
      });
  });
  </script>
</template>

<template name="footer">
  <footer class="text-center mt-2x">
    <div class="footer-above">
      <div class="container">
        <div class="row">
          <div class="footer-col col-md-4">

          </div>
          <div class="footer-col col-md-4">
            <ul class="list-inline">
              <li>
                <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-facebook"></i></a>
              </li>
              <li>
                <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-twitter"></i></a>
              </li>
              <li>
                <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-linkedin"></i></a>
              </li>
            </ul>
          </div>
          <div class="footer-col col-md-4">

          </div>
        </div>
      </div>
    </div>
    <div class="footer-below">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            Copyright &copy; Tech Titans 2016
          </div>
        </div>
      </div>
    </div>
  </footer>
</template>
